body {
      	background-color:white;
        margin: 0;
        padding: 0;
      }

#map {
 	position: center;
 	margin:auto;
	height:770px;
	width:1500px;
      }
h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 50px;
}

#video{
	position:relative;
	margin-left:0%;
	margin-right:0%;
	margin-bottom:10px;
	top:35px;
}

#copyright{
	margin-top:5%;
	text-align:center;
}
#bio{
	margin-left:10%;
	font-family: Helvetica, sans-serif;
	text-align:justify;
	width:500px;

}