body {
      	background-color:white;
        margin: 0;
        padding: 0;
      }

#map {
 	position: center;
 	margin:auto;
	height:500px;
	width:100%;
      }
h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom:10px;
	font-family:Garamond;
}

h2{
	font-family: Garamond;
	font-size: 2.1em;
}

#video{
	position:relative;
	margin-bottom:50px;
	top:35px;
	text-align:center;
}

#copyright{
	margin-top:50px;
	text-align:center;
	font-family:Helvetica;
}
#bio{
     padding: 100px 10px 0px;
     font-family: Helvetica, sans-serif;
}
#inukt{
	max-width:100px;
	float:left;
	height:100px;
	margin-left: auto;
        margin-right: auto;
}
#line{
	width:10px;
	float:left;
	height:100px;
	margin-left:50px;
}
#engl{
	max-width:200px;
	float:left;
	height:100px;
        padding-left: 0px;
	
}
#clear{
	clear:both;
}
#para{
	margin-top:50px;
	font-size:1.5em;
	z-index:1;
}
#contact{
	font-family: Helvetica;
	margin-left: 10px;
        margin-right: 10px;
}
#mapinstr{
	font-family:helvetica;
	text-align:right;
	position:relative;
	margin-left: auto;
        margin-right: auto;
}
#biosection{
	text-align:justify;
}
#headings{
	text-align: left;
}
#headings h2{
    font-size: 1.5em;
}
.spacer {
    margin-left: 10px;
    margin-right: 10px;
}

