body {
      	background-color:white;
        margin: 0;
        padding: 0;
      }

#map {
 	position: center;
 	margin:auto;
	height:770px;
	width:1500px;
      }
h1 {
	text-align: center;
	margin: 50px;
	font-family:Garamond;
}

h2{
	font-family: Garamond;
	font-size: 2.1em;
}

#video{
	position:relative;
	margin-bottom:10px;
	top:35px;
	text-align:center;
}

#copyright{
	margin-top:5%;
	text-align:center;
	font-family:Helvetica;
}
#bio{
	margin-left:10%;
	font-family: Helvetica, sans-serif;
	width:700px;
	margin-top:100px;
}
#inukt{
	width:100px;
	float:left;
	height:100px;
	margin-left:170px;
}
#line{
	width:10px;
	float:left;
	height:100px;
	margin-left:50px;
}
#engl{
	width:200px;
	float:left;
	height:100px;
	margin-left:10px;
	
}
#clear{
	clear:both;
}
#para{
	float:left;
	margin-top:50px;
	font-size:1.5em;
	z-index:1;
}
#contact{
	float:left;
}
#mapinstr{
	font-family:helvetica;
	text-align:right;
	position:relative;
	margin-right:80px;
}
#biosection{
	text-align:justify;
}
#headings{
	text-align: center;
}